:root {
  --yellow-color: #fff500;
  --dark-color: #1c1c22;
  --darker-color: #8e8e91;
  --light-color: #1c1c2233;
  --light-text-color: #8e8e91;
  --animation-func: 0.3s ease-out;
  --button-anim-func: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
