.button {
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px 0;
  border-radius: 100px;
  transition: outline-color var(--animation-func);
  outline: 1px solid rgba(255, 255, 255, 0);
  &:hover {
    outline-color: var(--light-color);
    .arrows_wrap {
      transform: translateY(-100%);
    }
  }
  &:disabled {
    opacity: 0.5;
  }
}

.arrows_wrap {
  display: flex;
  flex-direction: column;
  height: 24px;
  transition: transform var(--animation-func);
}

.content_wrap {
  gap: 5px;
  align-items: center;
}

@media (max-width: 768px) {
  .button {
    margin-top: 50px;
  }
}

@media (max-width: 435px) {
  .button {
    margin-top: 30px;
    outline-color: var(--light-color);
    padding: 8px;
  }
  .arrows_wrap img {
    width: 20px;
    height: 20px;
  }
  .content_wrap p {
    font-size: 12px;
  }
}
