.btn {
  width: 272px;
  height: 64px;
  background-color: transparent;
  display: flex;
  gap: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: border-color 300ms ease-in;
  pointer-events: auto;
  & p {
    // transition: color 300ms ease-in;
  }

  &_flipper {
    transition: all 300ms ease-in-out;
  }

  &_icon_wrapper {
    max-width: 24px;
    max-height: 24px;
    overflow: hidden;
  }

  &:hover {
    border-color: #8e8e91;
    .btn_flipper {
      transform: translateY(-50%);
    }
  }
}
