.services_wrap {
  position: absolute;
  pointer-events: auto;
  top: -100px;
  right: 0px;
  z-index: -1;
  left: 0px;
  height: 0px;
  background-color: #ffffff;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  color: black;
  overflow: hidden;
  transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
  .elements_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 174px;
  }
}

.service_triger {
  display: flex;
  align-items: center;
  &::before {
    top: -100px;
    right: -100px;
    left: -100px;
    bottom: -100px;
    background-color: red;
    position: absolute;
  }
}
.underline {
  height: 2px;
  width: 100%;
  transform: translateX(-110%);
  background-color: #ffffff;
  transition: all 0.5s ease-out;
}
.link_wrapper {
  overflow: hidden;
}

.text_wrap {
}
.text_wrap:hover::before {
  content: "";
  top: 0px;
  right: 78vw;
  left: 15vw;
  bottom: -3vh;
  z-index: 1000;
  position: absolute;
}

.link_wrapper:hover {
  .underline {
    transform: translateX(0%);
  }
}
